html, body {
    height: 100%;
    background-color: #f7f8f2;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    height: auto;
    width: auto;
    margin-top: 20px;
}

.pageRow {
    display: flex;
    align-items: start;
}
  
.pageColumn {
    flex: auto;
    padding: 50px;
}

h1 {
    color: #749c75;
    margin: 0;
    font-size: 40px;
}

h2 {
    color: #749c75;
    margin: 0;
}

form {
    text-align: center;
    margin-top: 60px;
    font-size: larger;
}

form div{
    margin: 10px;
}

form label{
    display: inline-block;
    text-align: right;
    padding: 4px;
    padding-right: 8px;
    min-width: 80px;
}

form input{
    font-size: medium;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #5d5546;
    vertical-align: top;
    padding: 4px;
}

form button{
    font-size: medium;
    border-style: solid;
    border-color: #5d5546;
    padding: 7px;
    border-radius: 5px;
    background-color: #c3d5c4;
}

select {
    font-size: medium;
    background-color: white;
    padding: 20px;
    border-color: #5d5546;
}

input {
    max-width: fit-content;
}

#pauseButton {
    background-color: #85c0ff;
    border-width: 1px;
}

#unpauseButton {
    background-color: #b6e69e;
    border-width: 1px;
}

#killButton {
    margin-top: 20px;
    padding: 15px;
    background-color: #f97f76;
    font-weight: bold;
    color: white;
}

#canvasSign {
    font-size: 20px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
}